@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

html {
  font-size: 62.5% !important;
}

a {
  text-decoration: none;
  color: inh;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  color: rgba(255, 255, 255, 0.55);
  font-family: "Poppins", sans-serif;
}

.nav__menu--link {
  padding: 1.1rem 2.2rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
}

.nav__menu--link:hover {
  padding: 1.1rem 2.2rem;
  border-radius: 0.8rem;
  background-color: #FF6E30;
  color: #FFFFFF;
  font-size: 1.3rem;
}

.title {
  font-size: 4.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 3rem;
}

.subtitle {
  font-size: 1.8rem;
  margin-bottom: 6rem;
  color: rgba(255, 255, 255, 0.55);
}

.text--title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #FFFFFF;
}

.text--subtitle {
  font-size: 1.8rem;
  color: rgba(255, 165, 55, 0.5921568627);
}

.block__text--subtitle {
  font-size: 1.6rem;
  text-align: justify;
}

.slider__slider--subtitle {
  max-width: 39rem;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.78);
  line-height: 2;
}
.slider__slider--subtitle::before {
  content: '"';
  position: absolute;
  top: -17rem;
  color: rgba(107, 104, 104, 0.383);
  font-size: 25rem;
  opacity: 0.3;
  transform: rotate(210deg);
}

i {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.25);
}
i:hover {
  color: #FF6E30;
}

.slider__slider--name {
  position: absolute;
  bottom: 6rem;
  right: 4rem;
  color: rgba(255, 255, 255, 0.78);
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1;
  z-index: 2;
}

.slider__slider--span {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.55);
}

.btn {
  padding: 1.1rem 2.2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #FF6E30;
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover {
  background-color: #FF6E30;
}

.btn--link {
  padding: 1.1rem 2.2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: transparent;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.btn--link:hover {
  background-color: #FF6E30;
  color: #FFFFFF;
}

.tools__btn-btn {
  padding: 1.1rem 2.2rem;
  text-decoration: none;
  border: 1px rgba(255, 255, 255, 0.1) solid;
  border-radius: 0.8rem;
  background-color: transparent;
  color: #FF6E30;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.tools__btn-btn:hover {
  background-color: #FF6E30;
  color: #FFFFFF;
}

.footer {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  gap: 15rem;
  margin-bottom: 7rem;
}
.footer__logo--img {
  display: flex;
  place-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}
.footer__logo--title {
  font-size: 2.2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}
.footer__logo--copyright {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}
.footer__logo--subtitle {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.55);
}
.footer__nav {
  display: flex;
  gap: 10rem;
}
.footer__nav--list > ul {
  list-style: none;
}
.footer__nav--list-title {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}
.footer__nav--list > ul > li {
  font-size: 1.6rem;
  list-style: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
  margin-bottom: 20rem;
}
.tools .title {
  text-align: center;
  margin-bottom: 2.5rem;
}
.tools .subtitle {
  font-weight: 400;
  text-align: center;
}
.tools__items--blocks {
  margin-bottom: 10rem;
}
.tools__items--blocks .tools__items--block {
  max-width: 39.2rem;
  max-height: 29.4rem;
  padding: 3.3rem;
  border-radius: 1.5rem;
}
.tools__items--blocks .tools__items--block:hover {
  background: radial-gradient(circle at top right, rgba(248, 126, 45, 0.177) 0%, rgba(246, 128, 49, 0.135) 8%, rgba(64, 75, 88, 0.2431372549) 25%);
  box-shadow: 0 0.3rem 0.2rem rgba(64, 75, 88, 0.2431372549);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.tools__items--blocks .block__company {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.tools__items--blocks .company--logo {
  margin-right: 3rem;
}
.tools__items--blocks .block__text {
  margin-bottom: 3rem;
}
.tools__items--blocks .block__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tools__items--blocks .block__btn--like {
  display: flex;
  gap: 2rem;
}
.tools__items--blocks .block-like {
  cursor: pointer;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 25.3rem;
  margin-bottom: 20rem;
  background: radial-gradient(circle at top left, rgba(248, 126, 45, 0.381) 0%, rgba(246, 128, 49, 0.144) 8%, rgba(64, 75, 88, 0.2431372549) 12%);
  box-shadow: 0 0.3rem 0.2rem rgba(64, 75, 88, 0.2431372549);
  -webkit-backdrop-filter: blur(5rem);
          backdrop-filter: blur(5rem);
  border-radius: 2.5rem;
}
.company__items {
  display: flex;
  flex-flow: wrap;
  gap: 10.7rem;
}

.newTools {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rem;
}
.newTools .newTools__text {
  width: 50%;
}
.newTools .newTools__block {
  max-width: 28.8rem;
  max-height: 28.4rem;
  padding: 3.3rem;
  border-radius: 1.5rem;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}
.slider .slider__slider {
  display: flex;
  align-items: center;
  gap: 10rem;
  position: relative;
  margin-bottom: 10rem;
}
.slider .slider__slider--img {
  display: inline-block;
  z-index: 1;
  position: relative;
}
.slider .slider__slider--img::before {
  content: "";
  position: absolute;
  top: 10rem;
  display: inline-block;
  width: 38rem;
  height: 38rem;
  background: radial-gradient(circle at top left, rgba(194, 13, 225, 0.927) 0%, rgba(201, 14, 204, 0.428) 8%, rgba(64, 75, 88, 0.2431372549) 25%);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border-radius: 50%;
  z-index: -1;
}
.slider .slider__slider--img::after {
  content: "";
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  display: inline-block;
  width: 26.5rem;
  height: 9.1rem;
  background: radial-gradient(circle at bottom right, rgba(11, 42, 220, 0.246) 0%, rgba(51, 100, 235, 0.228) 3%, rgba(64, 75, 88, 0.2431372549) 25%);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border-radius: 0.8rem;
}
.slider .slider__points {
  display: flex;
  gap: 1.8rem;
}
.slider .slider__points--point {
  width: 4.4rem;
  height: 0.6rem;
  border-radius: 0.4rem;
  background-color: rgba(81, 88, 93, 0.7490196078);
}

.contributor {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 20rem;
  text-align: center;
}
.contributor__input--input {
  width: 54.9rem;
  height: 5rem;
  border: none;
  border-radius: 1.5rem;
  outline: none;
  background-color: rgba(53, 60, 66, 0.7137254902);
  color: rgba(255, 255, 255, 0.38);
  display: flex;
}
.contributor__input--input::-moz-placeholder {
  transform: translateX(2rem);
}
.contributor__input--input:-ms-input-placeholder {
  transform: translateX(2rem);
}
.contributor__input--input::placeholder {
  transform: translateX(2rem);
}
.contributor__input--btn {
  transform: translate(22rem, -4.37rem);
}

.header {
  margin: 5.8rem -11rem 20rem 0;
  display: flex;
  justify-content: space-between;
}
.header__items--title {
  font-size: 5rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 3rem;
}
.header__items--title-dot {
  color: #FF6E30;
  margin-left: -1rem;
}
.header__items--text {
  font-size: 1.8rem;
  margin-bottom: 6rem;
}
.header__input {
  width: 50rem;
  height: 6.4rem;
  margin-bottom: 16rem;
  border: none;
  border-radius: 1.5rem;
  background-color: rgba(53, 60, 66, 0.7137254902);
  color: rgba(255, 255, 255, 0.38);
  outline: none;
}
.header__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.38);
  transform: translateX(5rem);
}
.header__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.38);
  transform: translateX(5rem);
}
.header__input::placeholder {
  color: rgba(255, 255, 255, 0.38);
  transform: translateX(5rem);
}
.header__input-img {
  transform: translate(-49rem, 0.9rem);
  color: rgba(255, 255, 255, 0.38);
}
.header__input-btn {
  padding: 1.8rem 3.7rem;
  transform: scale(1rem);
  transform: translateX(-15.1rem);
}
.header__items--media {
  display: flex;
  gap: 2.4rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 2.2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}
.nav__menu--ul {
  display: flex;
  gap: 1rem;
}
.nav__menu--li {
  list-style: none;
}
.nav__login {
  display: flex;
  gap: 1rem;
}

.container {
  max-width: 144rem;
  padding: 2.6rem 10.8rem;
  background-color: #283036;
  margin: 0 auto;
  overflow: hidden;
}

.tools__items--blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  gap: 2rem;
}