@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 1350px) {
  html {
    font-size: 56%;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 1080px) {
  html {
    font-size: 46%;
  }
}
@media screen and (max-width: 1040px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 670px) {
  html {
    font-size: 47%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  color: rgba(255, 255, 255, 0.55);
  font-family: "Poppins", sans-serif;
}

.nav__menu--link {
  padding: 1.1rem 2.2rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
}

.nav__menu--link:hover {
  padding: 1.1rem 2.2rem;
  border-radius: 0.8rem;
  background-color: #FF6E30;
  color: #FFFFFF;
  font-size: 1.3rem;
}

.title {
  font-size: 4.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 3rem;
}

.subtitle {
  font-size: 1.8rem;
  margin-bottom: 6rem;
  color: rgba(255, 255, 255, 0.55);
}

.text--title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #FFFFFF;
}

.text--subtitle {
  font-size: 1.8rem;
  color: rgba(255, 165, 55, 0.5921568627);
}

.block__text--subtitle {
  font-size: 1.6rem;
  text-align: justify;
}

.slider__slider--subtitle {
  max-width: 39rem;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.78);
  line-height: 2;
}
.slider__slider--subtitle::before {
  content: '"';
  position: absolute;
  top: -17rem;
  color: rgba(107, 104, 104, 0.383);
  font-size: 25rem;
  opacity: 0.3;
  transform: rotate(210deg);
}
@media screen and (max-width: 1040px) {
  .slider__slider--subtitle {
    text-align: center;
  }
  .slider__slider--subtitle::before {
    content: "";
  }
}

i {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.25);
}
i:hover {
  color: #FF6E30;
}

.slider__slider--name {
  position: absolute;
  bottom: 6rem;
  right: 4rem;
  color: rgba(255, 255, 255, 0.78);
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1;
  z-index: 2;
}
@media screen and (max-width: 860px) {
  .slider__slider--name {
    font-size: 2rem;
  }
}
@media screen and (max-width: 575px) {
  .slider__slider--name {
    display: none;
  }
}

.slider__slider--span {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.55);
}

.btn {
  padding: 1.1rem 2.2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #FF6E30;
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover {
  background-color: #FF6E30;
}

.btn--link {
  padding: 1.1rem 2.2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: transparent;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.btn--link:hover {
  background-color: #FF6E30;
  color: #FFFFFF;
}

.tools__btn-btn {
  padding: 1.1rem 2.2rem;
  text-decoration: none;
  border: 1px rgba(255, 255, 255, 0.1) solid;
  border-radius: 0.8rem;
  background-color: transparent;
  color: #FF6E30;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.tools__btn-btn:hover {
  background-color: #FF6E30;
  color: #FFFFFF;
}

.footer {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  gap: 15rem;
  margin-bottom: 7rem;
}
@media screen and (max-width: 1040px) {
  .footer {
    gap: 3rem;
  }
}
@media screen and (max-width: 860px) {
  .footer {
    flex-direction: column-reverse;
    place-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 860px) {
  .footer__logo {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
}
.footer__logo--img {
  display: flex;
  place-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}
.footer__logo--title {
  font-size: 2.2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}
.footer__logo--copyright {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}
.footer__logo--subtitle {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.55);
}
.footer__nav {
  display: flex;
  gap: 10rem;
}
@media screen and (max-width: 1040px) {
  .footer__nav {
    gap: 3rem;
  }
}
@media screen and (max-width: 860px) {
  .footer__nav {
    display: flex;
    gap: 10rem;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 575px) {
  .footer__nav {
    flex-direction: column;
    gap: 2rem;
  }
}
.footer__nav--list > ul {
  list-style: none;
}
@media screen and (max-width: 860px) {
  .footer__nav--list > ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.footer__nav--list-title {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}
.footer__nav--list > ul > li {
  font-size: 1.6rem;
  list-style: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
  margin-bottom: 20rem;
}
@media screen and (max-width: 860px) {
  .tools {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}
.tools .title {
  text-align: center;
  margin-bottom: 2.5rem;
}
.tools .subtitle {
  font-weight: 400;
  text-align: center;
}
.tools__items--blocks {
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  gap: 2rem;
}
@media screen and (max-width: 1080px) {
  .tools__items--blocks {
    gap: 10rem;
  }
}
@media screen and (max-width: 860px) {
  .tools__items--blocks {
    gap: 6rem;
  }
}
.tools__items--blocks .tools__items--block {
  max-width: 39.2rem;
  max-height: 29.4rem;
  padding: 3.3rem;
  border-radius: 1.5rem;
}
@media screen and (max-width: 860px) {
  .tools__items--blocks .tools__items--block {
    max-width: 30rem;
  }
}
@media screen and (max-width: 670px) {
  .tools__items--blocks .tools__items--block {
    max-width: 45rem;
  }
}
.tools__items--blocks .tools__items--block:hover {
  background: radial-gradient(circle at top right, rgba(248, 126, 45, 0.177) 0%, rgba(246, 128, 49, 0.135) 8%, rgba(64, 75, 88, 0.2431372549) 25%);
  box-shadow: 0 0.3rem 0.2rem rgba(64, 75, 88, 0.2431372549);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
.tools__items--blocks .block__company {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.tools__items--blocks .company--logo {
  margin-right: 3rem;
}
.tools__items--blocks .block__text {
  margin-bottom: 3rem;
}
.tools__items--blocks .block__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tools__items--blocks .block__btn--like {
  display: flex;
  gap: 2rem;
}
.tools__items--blocks .block-like {
  cursor: pointer;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 25.3rem;
  margin-bottom: 20rem;
  background: radial-gradient(circle at top left, rgba(248, 126, 45, 0.381) 0%, rgba(246, 128, 49, 0.144) 8%, rgba(64, 75, 88, 0.2431372549) 12%);
  box-shadow: 0 0.3rem 0.2rem rgba(64, 75, 88, 0.2431372549);
  -webkit-backdrop-filter: blur(5rem);
          backdrop-filter: blur(5rem);
  border-radius: 2.5rem;
}
@media screen and (max-width: 1280px) {
  .company {
    padding: 5rem;
  }
}
@media screen and (max-width: 860px) {
  .company {
    margin-bottom: 10rem;
  }
}
@media screen and (max-width: 1280px) {
  .company__title {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1040px) {
  .company__title {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 430px) {
  .company__title {
    text-align: center;
  }
}
.company__items {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 10.7rem;
}
.company__items--img > img {
  width: 100%;
}

.newTools {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rem;
}
@media screen and (max-width: 1040px) {
  .newTools {
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin-bottom: 10rem;
  }
}
@media screen and (max-width: 850px) {
  .newTools {
    margin-bottom: 5rem;
  }
}
.newTools__text {
  width: 50%;
}
@media screen and (max-width: 1040px) {
  .newTools__text {
    margin-bottom: 7rem;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .newTools__text {
    width: 100%;
  }
}
.newTools .newTools__block {
  max-width: 28.8rem;
  max-height: 28.4rem;
  padding: 3.3rem;
  border-radius: 1.5rem;
}
@media screen and (max-width: 1040px) {
  .newTools .newTools__block {
    max-width: 38.8rem;
  }
}
@media screen and (max-width: 860px) {
  .newTools .newTools__block {
    max-width: 30rem;
  }
}
@media screen and (max-width: 670px) {
  .newTools .newTools__block {
    max-width: 45rem;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}
@media screen and (max-width: 860px) {
  .slider {
    margin-bottom: 10rem;
  }
}
.slider .slider__slider {
  display: flex;
  align-items: center;
  gap: 10rem;
  position: relative;
  margin-bottom: 10rem;
}
@media screen and (max-width: 575px) {
  .slider .slider__slider {
    gap: 1rem;
  }
}
.slider .slider__slider--imgGrid {
  display: flex;
  align-items: center;
  gap: 10rem;
}
@media screen and (max-width: 1040px) {
  .slider .slider__slider--imgGrid {
    flex-direction: column;
  }
}
.slider .slider__slider--imgGrid .slider__slider--img > img {
  width: 100%;
}
@media screen and (max-width: 860px) {
  .slider .slider__slider--imgGrid .slider__slider--img > img {
    width: 70%;
  }
}
@media screen and (max-width: 575px) {
  .slider .slider__slider--imgGrid .slider__slider--img > img {
    display: none;
  }
}
.slider .slider__slider--img {
  display: inline-block;
  z-index: 1;
  position: relative;
}
.slider .slider__slider--img::before {
  content: "";
  position: absolute;
  top: 10rem;
  display: inline-block;
  width: 38rem;
  height: 38rem;
  background: radial-gradient(circle at top left, rgba(194, 13, 225, 0.927) 0%, rgba(201, 14, 204, 0.428) 8%, rgba(64, 75, 88, 0.2431372549) 25%);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border-radius: 50%;
  z-index: -1;
}
@media screen and (max-width: 860px) {
  .slider .slider__slider--img::before {
    width: 28rem;
    height: 28rem;
  }
}
@media screen and (max-width: 575px) {
  .slider .slider__slider--img::before {
    display: none;
  }
}
.slider .slider__slider--img::after {
  content: "";
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  display: inline-block;
  width: 26.5rem;
  height: 9.1rem;
  background: radial-gradient(circle at bottom right, rgba(11, 42, 220, 0.246) 0%, rgba(51, 100, 235, 0.228) 3%, rgba(64, 75, 88, 0.2431372549) 25%);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border-radius: 0.8rem;
}
@media screen and (max-width: 860px) {
  .slider .slider__slider--img::after {
    width: 22rem;
    height: 9.1rem;
  }
}
@media screen and (max-width: 575px) {
  .slider .slider__slider--img::after {
    display: none;
  }
}
.slider .slider__points {
  display: flex;
  gap: 1.8rem;
}
.slider .slider__points--point {
  width: 4.4rem;
  height: 0.6rem;
  border-radius: 0.4rem;
  background-color: rgba(81, 88, 93, 0.7490196078);
}

.contributor {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 20rem;
  text-align: center;
}
@media screen and (max-width: 860px) {
  .contributor {
    margin-bottom: 5rem;
  }
}
.contributor__input {
  position: relative;
}
.contributor__input--input {
  width: 54.9rem;
  height: 5rem;
  padding-left: 3rem;
  border: none;
  border-radius: 1.5rem;
  outline: none;
  background-color: rgba(53, 60, 66, 0.7137254902);
  color: rgba(255, 255, 255, 0.38);
  display: flex;
}
@media screen and (max-width: 575px) {
  .contributor__input--input {
    width: 34.9rem;
  }
}
.contributor__input--btn {
  position: absolute;
  top: 0.65rem;
  right: 1rem;
}

.header {
  margin: 5.8rem -11rem 20rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (max-width: 1040px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5.8rem 0 20rem 0;
  }
}
@media screen and (max-width: 850px) {
  .header {
    margin: 5.8rem 0 2rem 0;
  }
}
.header__items--title {
  font-size: 5rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 3rem;
}
.header__items--title-dot {
  color: #FF6E30;
  margin-left: -1rem;
}
.header__items--text {
  font-size: 1.8rem;
  margin-bottom: 6rem;
}
.header__items--input {
  position: relative;
}
.header__items--input > form {
  margin-bottom: 16rem;
}
.header__input {
  width: 50rem;
  height: 6.4rem;
  padding-left: 5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: rgba(53, 60, 66, 0.7137254902);
  color: rgba(255, 255, 255, 0.38);
  outline: none;
}
@media screen and (max-width: 485px) {
  .header__input {
    width: 40rem;
    padding-left: 1rem;
  }
}
@media screen and (max-width: 435px) {
  .header__input {
    width: 30rem;
    padding-left: 0.5rem;
  }
}
.header__input-img {
  color: rgba(255, 255, 255, 0.38);
  position: absolute;
  left: 1rem;
  top: 1.8rem;
}
@media screen and (max-width: 1040px) {
  .header__input-img {
    left: 4rem;
  }
}
@media screen and (max-width: 485px) {
  .header__input-img {
    display: none;
  }
}
.header__input-btn {
  padding: 1.8rem 3.7rem;
  position: absolute;
  right: 6.4rem;
  top: 0.7rem;
}
@media screen and (max-width: 1040px) {
  .header__input-btn {
    right: 5rem;
    top: 0.7rem;
  }
}
@media screen and (max-width: 435px) {
  .header__input-btn {
    padding: 1.8rem 1.4rem;
  }
}
.header__items--media {
  display: flex;
  gap: 2.4rem;
}
@media screen and (max-width: 1040px) {
  .header__items--media {
    justify-content: center;
  }
}
.header__img--img {
  width: 100%;
}
@media screen and (max-width: 1040px) {
  .header__img--img {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 2.2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}
@media screen and (max-width: 850px) {
  .nav__menu {
    display: none;
  }
}
.nav__menu--ul {
  display: flex;
  gap: 1rem;
}
.nav__menu--li {
  list-style: none;
}
.nav__login {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 850px) {
  .nav__login {
    display: none;
  }
}
.nav .nav__burger {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 850px) {
  .nav .nav__burger {
    display: none;
  }
}
.nav .nav__burger--line {
  width: 5rem;
  height: 0.5rem;
  background-color: #FF6E30;
  border-radius: 0.8rem;
}

.container {
  max-width: 144rem;
  padding: 2.6rem 10.8rem;
  background-color: #283036;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 1040px) {
  .container {
    padding: 2.6rem 5rem;
  }
}