$color-page: #283036;
$color-page-tr: #404b583e;
$bc-block: #2C353D
;
;

$color-btn: #FF6E30;
$color-btn-text: #FFFFFF;
$color-block-subtitle-transparent: #ffa53797;
$color-block-subtitle: #FFA537;


$color-h1: rgba(255, 255, 255, 0.9);
$color-text: rgba(255, 255, 255, 0.55);
$color-placeholder: rgba(255, 255, 255, 0.38);
$color-input: #353c42b6;

// margin-bottom
$mb3: 3rem;

//text
$fz16: 1.6rem;
$fz18: 1.8rem