.footer {
  display: flex;    
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  gap: 15rem;
  margin-bottom: 7rem;
  @media screen and(max-width: 1040px) {
      gap: 3rem;
  }
  @media screen and(max-width: 860px) {
          flex-direction: column-reverse;
          place-items: center;
          text-align: center;
        }

  &__logo {
    @media screen and(max-width: 860px) {
        display: flex;
        flex-direction: column;
        place-items: center;
        }
  }      
  &__logo--img {
    display: flex;
    place-items: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  &__logo--title {
    font-size: 2.2rem;
    font-weight: 600;
    color: $color-h1;
  }
  &__logo--copyright {
    margin-bottom: 2rem;
    font-size: $fz16;
    font-weight: 500;
    color: $color-h1;
  }
  &__logo--subtitle {
    font-size: 1.4rem;
    color: $color-text;
  }
  &__nav {
    display: flex;
    gap: 10rem;
    @media screen and(max-width: 1040px) {
      gap: 3rem;
    }
    @media screen and(max-width: 860px) {
          display: flex;
          gap: 10rem;  
          margin-bottom: 5rem;    
        }
    @media screen and(max-width: 575px) {
            flex-direction: column;
            gap: 2rem; 
        }
    
  
  }
  &__nav--list > ul{
    list-style: none;
    @media screen and(max-width: 860px) {
          padding-left: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
  }
  &__nav--list-title {
    font-size: 2rem;
    font-weight: 500;
    color: $color-h1;
  }
  &__nav--list > ul > li {
    font-size: $fz16;
    list-style: none;
    margin-bottom: 1rem;
    cursor: pointer;
    
  }
}
