
.container {
    max-width: 144rem;
    padding: 2.6rem 10.8rem;
    background-color: $color-page;
    margin: 0 auto;
    overflow: hidden;
    @media screen and(max-width: 1040px) {
      padding: 2.6rem 5rem;
  }
}

